In [1]:
friends=['akul','bhavik','sanjay','raj','ajay']      #lists are mutable    #stings are immutable
for friend in friends:
    print(friend)
print('\n',friends[1])   #aagal thi 0,1,2,3,..... aem number hoy
print('\n',friends[-1],'\n')     #pachal thi -1,-2,-3,.....aem number hoy
print(len(friends))
print([1,2,3])
print(['red','yellow','blue'])
print([1,1.2,'hello'])
print([4,[5,6],7])
print([])   #empty list
friends[3]='akash'    
print(friends)
friends.reverse()
print(friends)
print(range(len(friends)))
print(friends * 2)   #repetition aane kehvay aa multiply kari de and answer ape

akul
bhavik
sanjay
raj
ajay

 bhavik

 ajay

5
[1, 2, 3]
['red', 'yellow', 'blue']
[1, 1.2, 'hello']
[4, [5, 6], 7]
[]
['akul', 'bhavik', 'sanjay', 'akash', 'ajay']
['ajay', 'akash', 'sanjay', 'bhavik', 'akul']
range(0, 5)
['ajay', 'akash', 'sanjay', 'bhavik', 'akul', 'ajay', 'akash', 'sanjay', 'bhavik', 'akul']

In [2]:
a=[1,2,3]
b=[4,5,6]
print(sum(a))   # built-in sum name nu function sum karine aapse aapne
c=a+b      #concatenantion
print(c)
d=[1,2,3,4,5,6,7]
print(d[1:3])    #slicing operator
print(len(d))
print(max(d))
print(min(d))
print(sum(d))
print(sum(d)/len(d))

stuff=list()
stuff.append('book')    #last ma add karva
stuff.append('99')
stuff.append('work')
print(stuff)
print(5 in d)    #in operator
9 in d

6
[1, 2, 3, 4, 5, 6]
[2, 3]
7
7
1
28
4.0
['book', '99', 'work']
True

False

In [1]:
friends=['akul','sanjay','bhavik','rajan','ajay','work']
friends.sort()      #  sort returns the same list reorganized
print(sorted(friends))   #sorted returns a new list create thay ne juni same j rahe
print(friends)
print(friends[2])
friends.remove("rajan")
print(friends)

['ajay', 'akul', 'bhavik', 'rajan', 'sanjay', 'work']
['ajay', 'akul', 'bhavik', 'rajan', 'sanjay', 'work']
bhavik
['ajay', 'akul', 'bhavik', 'sanjay', 'work']

In [47]:
abc="my name is akul"     #this is string
stuff=abc.split()     #built-in function split alag alag kare string ne
print(stuff,"\n")
for w in stuff:
    print(w)
    
    
a='i am a student in india so_what_is u are going to do'
akul=a.split()
print(akul)
are=akul[6]
print(are)
qwe=are.split()
print(qwe)
print(len(qwe))
poi=are.split('_')
print(poi)
print(len(poi))

['my', 'name', 'is', 'akul']

my
name
is
akul
['i', 'am', 'a', 'student', 'in', 'india', 'so_what_is', 'u', 'are', 'going', 'to', 'do']
so_what_is
['so_what_is']
1
['so', 'what', 'is']
3

In [5]:
a=['app','os','api','osi','lol']
print(a)
a.insert(0,'bye')
print(a)
a.insert(25,'hello')   #index  dur ni aapso to bhi add karse
print(a)
a.pop(2)
print(a)
del a[0]
#del a # delete entire list
a.clear #list akhi clear kare

['app', 'os', 'api', 'osi', 'lol']
['bye', 'app', 'os', 'api', 'osi', 'lol']
['bye', 'app', 'os', 'api', 'osi', 'lol', 'hello']
['bye', 'app', 'api', 'osi', 'lol', 'hello']

In [6]:
multiples = []
for x in range(1,11):
    multiples.append(x*7)

print(multiples)

multiples =[x*7 for x in range(1,11)]    #list comphrehension easy & fast
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [8]:
languages = ['python','ruby','c','c++','java']
length = [len(language) for language in languages]
print(length)


z=[x for x in range(0,101) if x % 3 == 0]
print(z)

[6, 4, 1, 3, 4]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [4]:
names=['Carlos','Ray','Alex','kelly']
print(sorted(names, key=len))

print(names.count("Ray"))
print(names.count("a"))   # perticular 'a' find karse but malse nahi so 0 is answer
print(names.index("Alex"))   #index aagal first ave ae j jove pachal vala ne nahi bcz left thi start thay

['Ray', 'Alex', 'kelly', 'Carlos']
1
0
2

In [6]:
wit = ["red","yello","green","orange"]
glue = "yo"
s = glue.join(wit)
print(s)

redyoyelloyogreenyoorange

In [4]:
L = ["akul",1.2,176]
L.append([12.2,49])
L.append("bhy")
print(L)

['akul', 1.2, 176, [12.2, 49], 'bhy']

In [6]:
name = ["aku","ert",23,45.6]
a= name    # aliasing aane kehvay bija ni value bija ne aapvi same j
print(name)
print(a)
name[0]="bhavik"
print(name)           # aana name ni value change karo aetle a ma bhi change thay bcz of mutable
print(a)

['aku', 'ert', 23, 45.6]
['aku', 'ert', 23, 45.6]
['bhavik', 'ert', 23, 45.6]
['bhavik', 'ert', 23, 45.6]

In [9]:
name = ["nice",1,2.4]
a = name[:]     # clown banavyo ahi a ne name no
print(name)
print(a)
name[0] = "bhavik"
print(name)   #aama name ni value change karo to bhi a ma change nahi aave
print(a)

['nice', 1, 2.4]
['nice', 1, 2.4]
['bhavik', 1, 2.4]
['nice', 1, 2.4]